<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/BuildYourDream/src/main/java/com/example/test/SecondTest.java"><classes><class name="com.example.test.SecondTest"><methods><include name="test1"/></methods></class></classes></test></suite>